In [ ]:
import psycopg2
from psycopg2 import OperationalError
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy.sql import text
import seaborn as sns
import matplotlib.pyplot as plt
import time
import boto3

In [ ]:
engine = create_engine(
    "postgresql+psycopg2://adminmlds:grupo1MLDS@mlds3db.cz4k2c2sy1m8.us-east-2.rds.amazonaws.com:5432/ukhousing_db"
)
# Consulta para contar los registros en la tabla uk_housing

query = text("SELECT COUNT(*) FROM housing_uk")

with engine.connect() as connection:
    result = connection.execute(query)
    count = result.scalar()  # .scalar() retorna el primer elemento de la primera fila
    print(f"Número total de registros en la tabla uk_housing: {count}")

Número total de registros en la tabla uk_housing: 8232621

In [ ]:
# Consulta la tabla y carga los datos en un DataFrame
df_sql = pd.read_sql("SELECT * FROM housing_uk", con=engine)

print("Número de registros en df_sql:", df_sql.shape[0])

print(df_sql.head())

Número de registros en df_sql: 8232621
                           transaction_id   price date_of_transfer property_type old_new duration   town_city                district           county pp_category_type record_status
0  {002D64F9-1862-4FF0-BF3D-1AB6C4690500}   47500       1995-05-01             S       N        F       SELBY                   SELBY  NORTH YORKSHIRE                A             A
1  {B950306F-B6B5-444B-9E84-1AB6D3B851FF}   85000       1995-09-22             D       N        F  MALMESBURY         NORTH WILTSHIRE        WILTSHIRE                A             A
2  {19AFA762-21E1-4CDA-9668-21D6186691FC}   99950       1995-06-26             D       Y        F    RAYLEIGH                ROCHFORD            ESSEX                A             A
3  {C9A3AD0B-285F-4EF6-9228-21D61C9C42C0}   61750       1995-08-07             F       Y        L      LONDON     CITY OF WESTMINSTER   GREATER LONDON                A             A
4  {2EB586BB-C4FD-4642-88C4-1E4475104CF4}  273000       1995-12-04             T       N        F      LONDON  HAMMERSMITH AND FULHAM   GREATER LONDON                A             A

## Transformacion y carga de datos a DynamoDB

In [ ]:
# Configura tus credenciales y región
aws_access_key_id = "AKIA5FTZCGWRH77ULAGH"
aws_secret_access_key = "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"
region_name = "us-east-1"

# Crea una sesión de boto3
session = boto3.Session(
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
    region_name=region_name,
)

# Crea un recurso de DynamoDB usando la sesión
dynamodb = session.resource("dynamodb")

# Nombre de la tabla y especificaciones de la clave primaria
table_name = "HousingData"
key_schema = [
    {
        "AttributeName": "transaction_id",  # Nombre del atributo de la clave primaria
        "KeyType": "HASH",  # Tipo de la clave primaria (HASH = clave de partición)
    }
]
attribute_definitions = [
    {
        "AttributeName": "transaction_id",
        "AttributeType": "S",  # Tipo de datos para la clave (S = String)
    }
]
provisioned_throughput = {
    "ReadCapacityUnits": 5,  # Capacidad de lectura
    "WriteCapacityUnits": 5,  # Capacidad de escritura
}

# Crear la tabla
table = dynamodb.create_table(
    TableName=table_name,
    KeySchema=key_schema,
    AttributeDefinitions=attribute_definitions,
    ProvisionedThroughput=provisioned_throughput,
)

# Esperar hasta que la tabla esté disponible
table.wait_until_exists()

# Imprimir detalles de la tabla creada
print(f"Tabla {table_name} creada con éxito. Estado: {table.table_status}")

Tabla HousingData creada con éxito. Estado: CREATING

In [ ]:
# Especifica tus credenciales de AWS. Puedes establecer estas variables de entorno o
# pasarlas directamente al objeto boto3.session.Session
aws_access_key_id = "AKIA5FTZCGWRH77ULAGH"
aws_secret_access_key = "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"
# Se borraron el id y el secret acces key por seguridad

region_name = "us-east-1"

# Crea una sesión de boto3 usando tus credenciales
session = boto3.session.Session(
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
    region_name=region_name,
)

# Crea un recurso DynamoDB usando la sesión
dynamodb = session.resource("dynamodb")

# Instancia un objeto de recurso de tabla.
table = dynamodb.Table("HousingData")

# Imprime algunos datos sobre la tabla.
print(table.creation_date_time)

2024-06-01 16:34:18.107000-05:00

##### Verificación de tablas en la base de datos

In [ ]:
# Especifica tus credenciales de AWS. Puedes establecer estas variables de entorno o
# pasarlas directamente al objeto boto3.session.Session
aws_access_key_id = "AKIA5FTZCGWRH77ULAGH"
aws_secret_access_key = "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"
region_name = "us-east-1"

# Crea una sesión de boto3 usando tus credenciales
session = boto3.session.Session(
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
    region_name=region_name,
)

# Crea un cliente de DynamoDB usando la sesión
dynamodb = session.client("dynamodb")

# Listar todas las tablas en la cuenta y región especificadas
response = dynamodb.list_tables()

# Imprimir los nombres de las tablas disponibles
print("Tablas disponibles en DynamoDB:")
for table_name in response["TableNames"]:
    print(table_name)

# Manejar la paginación si hay más de 100 tablas
while "LastEvaluatedTableName" in response:
    response = dynamodb.list_tables(
        ExclusiveStartTableName=response["LastEvaluatedTableName"]
    )
    for table_name in response["TableNames"]:
        print(table_name)

Tablas disponibles en DynamoDB:
HousingData

#### Carga de registros del dataframe extraído de la base de datos SQL en AWS RDS a la base de datos DynamoDB

In [ ]:
# Configuración inicial para boto3 con DynamoDB
aws_access_key_id = "AKIA5FTZCGWRH77ULAGH"
aws_secret_access_key = "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"
region_name = "us-east-1"

session = boto3.session.Session(
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
    region_name=region_name,
)


dynamodb = session.resource("dynamodb")
table = dynamodb.Table("HousingData")


# Función para cargar todos los registros en DynamoDB
def load_data_to_dynamodb(df_job):
    with table.batch_writer() as batch:
        for index, row in df_job.iterrows():
            batch.put_item(
                Item={
                    "transaction_id": str(row["transaction_id"]),
                    "price": int(row["price"]),
                    "date_of_transfer": row["date_of_transfer"].strftime("%Y-%m-%d"),
                    "property_type": str(row["property_type"]),
                    "old_new": str(row["old_new"]),
                    "duration": str(row["duration"]),
                    "town_city": str(row["town_city"]),
                    "district": str(row["district"]),
                    "county": str(row["county"]),
                    "pp_category_type": str(row["pp_category_type"]),
                    "record_status": str(row["record_status"]),
                }
            )


# Ejecutar la carga de todos los datos
load_data_to_dynamodb(df_sql)

##### Se realiza una verificación de algunos registros insertados en la tabla.

In [ ]:
table = dynamodb.Table("HousingData")

# Escanear la tabla para obtener 5 registros y mostrarlos
response = table.scan(Limit=5)
items = response["Items"]

# Mostrar los items
for item in items:
    print(item)

{'district': 'SHEFFIELD', 'county': 'SOUTH YORKSHIRE', 'town_city': 'SHEFFIELD', 'pp_category_type': 'A', 'property_type': 'S', 'old_new': 'N', 'transaction_id': '{6CE412B3-CC9A-43E3-AAE8-1E44A75F0692}', 'price': Decimal('26000'), 'date_of_transfer': '1995-06-20', 'duration': 'F', 'record_status': 'A'}
{'district': 'CITY OF WESTMINSTER', 'county': 'GREATER LONDON', 'town_city': 'LONDON', 'pp_category_type': 'A', 'property_type': 'F', 'old_new': 'Y', 'transaction_id': '{C9A3AD0B-285F-4EF6-9228-21D61C9C42C0}', 'price': Decimal('61750'), 'date_of_transfer': '1995-08-07', 'duration': 'L', 'record_status': 'A'}
{'district': 'COPELAND', 'county': 'CUMBRIA', 'town_city': 'EGREMONT', 'pp_category_type': 'A', 'property_type': 'T', 'old_new': 'N', 'transaction_id': '{D24E40EE-BDED-48FD-A046-1E447E111609}', 'price': Decimal('25000'), 'date_of_transfer': '1995-06-30', 'duration': 'F', 'record_status': 'A'}
{'district': 'NORTH WILTSHIRE', 'county': 'WILTSHIRE', 'town_city': 'MALMESBURY', 'pp_category_type': 'A', 'property_type': 'D', 'old_new': 'N', 'transaction_id': '{B950306F-B6B5-444B-9E84-1AB6D3B851FF}', 'price': Decimal('85000'), 'date_of_transfer': '1995-09-22', 'duration': 'F', 'record_status': 'A'}
{'district': 'HAMMERSMITH AND FULHAM', 'county': 'GREATER LONDON', 'town_city': 'LONDON', 'pp_category_type': 'A', 'property_type': 'T', 'old_new': 'N', 'transaction_id': '{2EB586BB-C4FD-4642-88C4-1E4475104CF4}', 'price': Decimal('273000'), 'date_of_transfer': '1995-12-04', 'duration': 'F', 'record_status': 'A'}

##### Conteo del numero total de registros.

In [ ]:
table = dynamodb.Table("HousingData")

# Escanear la tabla para obtener todos los registros
response = table.scan()
items = response["Items"]

# Contar los registros en la tabla
print(f"Número de registros: {len(items)}")

Número de registros: 10